		* {
		    margin: 0;
		    padding: 0;
		   }
		body{
			background-image: url(img/background.png);
		}
		
		#videoPlayer{

		}

		#frame
		{
			background-color:#FFF0F5;
			box-shadow: 0 0 10px rgba(0,0,0,0.5);
			border-radius: 8px;
			padding-left: 10px;
			padding-right: 10px;
		    position: absolute;
		    bottom: 5em;
			top: 20%;
			left: 20%;
		}

		#frame > div > div
		{
			float: left;
		}
	
		#source{
			border-radius: 4px;
			border: 1px solid;
			height:2.3em;
		}
		
		#info{
			color: #FFF0F5;
			font-size: 0.9em;
		}
		#timePanel{
			color: black;
			padding-left: 20px;
		}
		
		.buttonPanel{
			margin-left: 8px;
		}
		
		.mediaButtons{
			width:15%;
			height:15%;
			margin-left: 12px;
		}
		#play{
			
		}
		
		#stop{
		
		}

.progress-bg
{
	margin-top: 1em;
	background-image: url("img/track.png"); 
	background-size:14px 13px;
	background-repeat: repeat;
	border-top: 0px; /* Линия сверху текста */
	border-bottom: 0px;
	border-left: 3px solid;
	border-right: 3px solid;
	position: relative;
	height: 15px;
	border-radius: 5px;
	overflow: hidden;
}	

.progress-bar
{
	background-image : url("img/slider.png");
	background-size:14px 7px;
	height: 12px;
	width:12px;	
	position: absolute;
	top: 0;
	left: 0;
}
